<!-- appreciate -->
<% if (config.appreciate.enable){ %>
<div class="appreciate">
  <a href="<%- config.appreciate.winxin%>" title="微信" class="fancybox" rel="article0">
    <img src="<%- config.appreciate.winxin%>" alt="微信"/>
  </a>
  <a href="<%- config.appreciate.alipay%>" title="支付宝" class="fancybox" rel="article0">
    <img src="<%- config.appreciate.alipay%>" alt="支付宝"/>
  </a>
</div>
<% } %>
<!-- appreciate -->