.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    height: 1em !important;
    line-height: 1em !important;
    font-size: 1em !important;
    font-family: "courier new" !important;
    color: black !important;
}

.syntaxhighlighter .string, .syntaxhighlighter .string a {
    height: 1em !important;
    line-height: 1em !important;
    font-size: 1em !important;
    font-family: "courier new" !important;
}

.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    height: 1em !important;
    line-height: 1em !important;
    font-size: 1em !important;
    font-family: "courier new" !important;
}

.code > .container > .line {
    height: 1em !important;
    line-height: 1em !important;
    font-family: "courier new" !important;
}

.code > .container > .line > code {
    height: 1em !important;
    line-height: 1em !important;
    font-family: "courier new" !important;
}

.code > .container > .line > .java, .code > .container > .line > .js {
    height: 1em !important;
    line-height: 1em !important;
    font-family: "courier new" !important;
}

.gutter > .line {
    height: 1em !important;
    line-height: 1em !important;
    font-family: "courier new" !important;
}