.toc-parent {
    position:relative;
}

.toc-article {
    padding: 1em;
}

.toc-article .toc-title{
    font-weight: bold;
}

#toc {
}

#toc .toc {
    padding: 0
}

#toc li , .toc li {
    list-style-type: none
}

#toc ol {
    margin: 0;
}

#toc .toc-child {
    padding-left: 1.5em
}